@font-face {
    font-family: "IRANSans-Regular";
    src: url('../fonts/a07449f9dfea7de8-s.p.woff2') format("woff");
}

@font-face {
    font-family: "IRANSans-Bold";
    src: url('../fonts/0ce4e99abd1c5ce3-s.p.woff2') format("woff");
}

html {
    scroll-behavior: smooth;
    direction: rtl;
}

body {
    font-family: "IRANSans-Regular";
    user-select: none;
    background-color: #e8eaef;
    overflow-x: hidden;
}

.font-bold {
    font-family: "IRANSans-Bold";
}

.main-text {
    color: #243b5b;
}

.main-text2 {
    color: #495c76;
}

.main-bg {
    background-color: #243b5b;
}

.second-text {
    color: #c9a759;
}

.bg-gray {
    background-color: #e8eaef;
}

.border-main {
    border: 2px solid #243b5b;
}

.transition {
    transition: all .4s;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all .4s;
}

.cursor-pointer {
    cursor: pointer;
}

.top-124 {
    top: 124px;
}

.h-2 {
    height: 2px;
}

.w-20 {
    width: 20px;
}

.w-24 {
    width: 6rem;
}

.w-28 {
    width: 7rem;
}

.w-32 {
    width: 8rem;
}

.h-40 {
    height: 10rem;
}

.w-40 {
    width: 10rem;
}
.w-98{
    width: 98px;
}
.w-136 {
    width: 136px;
}

.h-136 {
    height: 136px;
}

.w-160 {
    width: 160px;
}

.w-230 {
    width: 230px;
}

.w-574 {
    width: 574px;
}

.h-574 {
    height: 574px;
}

.pt-6 {
    padding-top: 4rem;
}

.pb-9 {
    padding-bottom: 9rem;
}

.pt-84 {
    padding-top: 84px !important;
}

.h-2 {
    height: 2px !important;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.z-1 {
    z-index: -1;
}

.z-10 {
    z-index: 10;
}

.z-90 {
    z-index: 90;
}

.top-18 {
    top: 18%;
}

.top-29 {
    top: -29px;
}

.top-30 {
    top: 30px;
}

.top-57 {
    top: -57px;
}

.top-101 {
    top: 100px;
}

.top-250 {
    top: 250px;
}

.right-65 {
    right: 65px;
}

.right-78 {
    right: -78px;
}

.left-65 {
    left: 65px;
}

.left-78 {
    left: -78px;
}

.bottom-45 {
    bottom: -45px;
}

.gap-100 {
    gap: 100px;
}

.text-justify {
    text-align: justify;
}

.rotate-180 {
    transform: rotate(180deg);
}

.rounded-lg {
    border-radius: .5rem;
}

.rounded-4 {
    border-radius: 1rem;
}

.rounded-5 {
    border-radius: 1.5rem;
}
.rounded-top2{
    border-top-left-radius: .75rem;
  border-top-right-radius: .75rem;
}
.border-gray {
    border: 1px solid rgb(179, 179, 179);
}

.custom-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 10px 10px 20px;
}

.swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid #c9a759;
    width: 1rem;
    height: 1rem;
    opacity: 100%;
}

.swiper-pagination-bullet-active {
    background-color: #c9a759;
}

.swiper-button-prev,
.swiper-button-next {
    width: 88px;
    height: 40px;
    border-radius: .75rem;
    background-color: white;
    top: 33px;
}

.swiper-rtl .swiper-button-prev {
    left: 117px;
    right: auto;
}

.swiper-rtl .swiper-button-prev::after,
.swiper-rtl .swiper-button-next::after {
    content: '';
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    box-shadow: none;
    background-color: #f9fafb;
}

.navbar-toggler {
    border-radius: 0.44rem;
}

.iti__country-list {
    width: 249px;
    left: 0;
    overflow-x: hidden;
}

.iti {
    width: 100%;
}

.iti--allow-dropdown .iti__flag-container,
.iti--separate-dial-code .iti__flag-container {
    left: 0;
}

.select2-container .select2-selection--single {
    height: 44px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 42px;
    text-align: center;
}

.select2-results__option--selectable {
    text-align: center;
}

.select2-container {
    display: inline-block;
    width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
    right: 11px;
}

input[type='email'],
input[type='number'],
.iti--allow-dropdown input {
    text-align: left;
}

.table> :not(caption)>*>* {
    border-bottom-width: 0;
}
/* header */
header {
    background-color: white;
    z-index: 20;
}

header ul li a {
    border-bottom: 4px solid transparent;
    transition: all .4s;
    color: #243b5b !important;
}

header ul li a:hover,header ul li a.active {
    border-bottom: 4px solid #c9a759;
    color: #243b5b !important;
}

header .socials,
.socials svg {
    color: #243b5b;
    fill: #243b5b;
    transition: all .4s;
}

header .socials:hover,
.socials svg:hover {
    color: #c9a759;
    fill: #c9a759;
}

header ul {
    padding: 0;
}

/* banner */
#banner svg,
#contact svg {
    fill: #243b5b;
}

/* projects */
#projects svg,
#blog .swiper .swiper-button-prev svg,
#blog .swiper .swiper-button-next svg,
.projectsvg svg {
    fill: #c9a759;
}

#projects .swiper-slide:hover,
.projectList:hover {
    background-color: #243b5b !important;
}

#projects .swiper-slide:hover p,
.projectList:hover p {
    color: white !important;
}

/* istanbulProjects */
#istanbulProjects {
    background-image: url('../img/istanbul0add.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#istanbulProjects::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.584);
    z-index: 0;
    filter: blur(4px);
}

.back {
    background: linear-gradient(rgba(157, 219, 217, 0.5) 0%, rgba(89, 188, 203, 0.5) 50%, rgba(4, 90, 103, 0.5) 100%);
    backdrop-filter: blur(4px);
    opacity: 0;
    transition: all .4s;
}

.istanbulProjectsCart:hover .back {
    opacity: 100%;
}

/* services */
.servicesCard:hover {
    background-color: #243b5b;
}

.servicesCard:hover p,
.servicesCard:hover h3 {
    color: #71c7d0 !important;
}

.servicesCard>div {
    transition: all .4s;
}

.servicesCard:hover>div {
    background-color: #415571 !important;
    box-shadow: 5px 4px 16px 1px black inset;
    border: none;
}

/* about page */
.aboutCircles:hover div {
    background-color: #243b5b !important;
}

.aboutCircles path,
.aboutCircles rect {
    transition: all .4s;
}

.aboutCircles:hover path,
.aboutCircles:hover rect {
    fill: #95d4dc;
}

.aboutCircles:hover p {
    color: white;
}

.circleContent {
    opacity: 0;
    z-index: -3;
}

.circleContent.active {
    opacity: 100%;
}

.nav-tabs .nav-link {
    border-radius: 9px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.nav-link,
.nav-link:hover {
    color: black;
}

.nav-tabs .nav-link:hover {
    border-color: transparent;
}

.nav-tabs .nav-link.active {
    border-color: transparent;
    color: white;
    background-image: url('../img/tabbg.PNG');
}

/* single project page */
.details svg {
    fill: #71c7d0;
}

/* footer */
footer {
    background-color: #243b5b;
}

footer svg {
    fill: white;
}
footer li a{
    color: white;
}
footer li a:hover,footer a:hover p{
    color: #c9a759!important;
}
footer a:hover svg{
    fill: #c9a759!important;
}
footer #copyright {
    background-color: #405470;
}

@media only screen and (max-width:992px) {
    .gap-100 {
        gap: 0;
    }

    header svg {
        width: 5rem !important;
    }

    header ul {
        background-color: #f9fafb;
        border: 1px solid rgb(223, 222, 222);
        border-radius: 6px;
        padding: 15px 29px !important;
        margin-top: 22px;
    }

    header ul li a {
        padding: 9px !important;
        border-radius: 8px;
        border-bottom: none;

    }

    header ul li a:hover,header ul li a.active {
        background-color: #f3f4f6;
        border-bottom: none;
    }

    #searchBox.position-sticky {
        position: static !important;
    }

    footer .border-end {
        border-right: none !important;
    }
}
@media only screen and (max-width:400px) {
  table.fs-14{
    font-size: 10px;
  }
}